{% extends 'base.html' %}
{% block body %}
<section id="main" class="container-fluid d-flex justify-content-center align-items-center p-5" style="width: 100%; height: 80vh; background-color: #f1f5f9">
    <div class="container text-center">
        <div class="fw-bold alert alert-info m-auto mb-3" style="width: fit-content;">🎉 Chào mừng các học sinh cuối cấp 3 và các tân sinh viên đại học 🎉</div>
        <h3 class="fw-bold mb-3">Tạo trang <span style="color: #4f46e5" class="text-decoration-underline link-offset-2">lưu bút</span> của bạn trong vài giây</h3>
        <p class="fw-semibold text-secondary col-lg-6 col-md-8 col-10 m-auto mb-3">
            Sau 12 năm đèn sách, đã đến lúc chúng ta tạm biệt mái trường cấp 3 để tiếp bước tới trang sách mới của cuộc đời. Hãy cùng với chúng mình tạo nên những lưu bút quý giá để những năm học ấy sẽ luôn mãi mãi trong trái tim.
        </p>
        <p class="fw-semibold text-secondary col-lg-6 col-md-8 col-10 m-auto mb-3">
            Mỗi tài khoản được tạo ra có thể nhận được 20 lưu bút
        </p>
        <a href="/dash" class="btn border-0 mx-1 fs-6 fw-semibold" style="background-color: #4f46e5 !important; color: white;">Tạo trang lưu bút của bạn</a>
    </div>
</section>
<section id="about" class="container-fluid d-flex justify-content-center align-items-center p-5 bg-white">
    <div class="container text-center col-lg-6 col-md-8 col-10">
        <h3 class="fw-bold">Về chúng tôi</h3>
        <p class="text-secondary fw-semibold">Đây chỉ là một trang web cơ bản giúp cho các bạn học sinh nhận được những lưu bút quý giá nhất mà không cần tạo form. Chỉ cần đăng ký là sẽ có một đường link riêng để các bạn chia sẻ và nhận lưu bút.</p>
    </div>
</section>
<section id="faq" class="container-fluid d-flex justify-content-center align-items-center p-5 bg-white">
    <div class="container col-lg-6 col-md-8 col-10">
        <h3 class="fw-bold text-center">Câu hỏi thường gặp</h3>
        <div class="list-group mb-5">
            <div class="list-group-item p-3">
                <p class="fw-semibold">1. Trang web này là gì?</p>
                <p>Nền tảng này giúp bạn có thể nhận lưu bút từ bạn bè người thân một cách tiện lời. Tạo tài khoản bằng tên người dùng và mật khẩu và bạn đã có thể bắt đầu nhận lưu bút.</p>
            </div>
            <div class="list-group-item p-3">
                <p class="fw-semibold">2. Giới hạn lưu bút là bao nhiêu?</p>
                <p>Mỗi tài khoản mới được lập ra có thể nhận 20 lưu bút</p>
            </div>
            <div class="list-group-item p-3">
                <p class="fw-semibold">3. Nền tảng này có mất phí không?</p>
                <p>Nền tảng này miễn phí cho tất cả mọi người. Nhưng nếu bạn có thể, hãy góp chút ít để duy trì server. Liên lạc <a href="https://www.facebook.com/justharv2409/">mình</a> nhé</p>
            </div>
            <div class="list-group-item p-3">
                <p class="fw-semibold">4. Dữ liệu của tôi có an toàn không?</p>
                <p>Dữ liệu của bạn sẽ không được chia sẻ cho bất kì ai. Chúng mình không gắn quảng cáo trên trang web cũng như là không yêu cầu bạn đưa thông tin gì khác ngoại trừ một tên người dùng đặc biệt, mật khẩu và ảnh avatar. Nếu như bạn cảm thấy không an toàn trên nền tảng này, liên lạc <a href="https://www.facebook.com/justharv2409/">mình</a> nhé</p>
            </div>
        </div>
        <p class="fw-semibold text-secondary text-center">Made with ❤️ by <a href="https://www.facebook.com/justharv2409/">Bảo Hoàng</a></p>
    </div>
</section>
{% endblock %}